# Compiler files
cache/
out/
tmp/

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env

.idea
.vscode
lcov.info
report.txt
semgrep.sarif

# Semgrep rules
rules/

# Test coverage report
report/

# OS files
.DS_Store

# VSCodeCounter extension
.VSCodeCounter
