# Compiler files
cache/
out/
tmp/

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file

.idea
lcov.info
report.txt
semgrep.sarif

# Semgrep rules
rules/

# Test coverage report
report/

# OS files
.DS_Store

# VSCodeCounter extension
.VSCodeCounter

# Coverage reports
coverage-html/
config.bat
node_modules
