name: Forge

on:
  push:
    branches:
      - main
  pull_request: { }
  workflow_dispatch: { }

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Test, coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

#      - uses: actions/download-artifact@v3
      - name: Show RPC cache
        if: ${{ hashFiles('~/.foundry/cache/rpc/') != '' }}
        run: ls -R ~/.foundry/cache/rpc

      - name: Run forge build
        run: |
          forge --version
          forge build --sizes
        id: build

      - name: Run forge test
        run: |
          forge test -vvv
        env:
          POLYGON_RPC_URL: ${{secrets.POLYGON_RPC_URL}}
          BASE_RPC_URL: ${{secrets.BASE_RPC_URL}}
          ARBITRUM_RPC_URL: ${{secrets.ARBITRUM_RPC_URL}}
          ETHEREUM_RPC_URL: ${{secrets.ETHEREUM_RPC_URL}}
          REAL_RPC_URL: ${{secrets.REAL_RPC_URL}}
        id: test

      - name: Run Forge coverage
        run: |
          forge coverage --report lcov
        env:
          POLYGON_RPC_URL: ${{secrets.POLYGON_RPC_URL}}
          BASE_RPC_URL: ${{secrets.BASE_RPC_URL}}
          ARBITRUM_RPC_URL: ${{secrets.ARBITRUM_RPC_URL}}
          ETHEREUM_RPC_URL: ${{secrets.ETHEREUM_RPC_URL}}
          REAL_RPC_URL: ${{secrets.REAL_RPC_URL}}
        id: coverage

      - name: Upload coverage lcov report to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}

      - name: Upload RPC cache
        uses: actions/upload-artifact@v3
        with:
          name: rpc-cache
          path: ~/.foundry/cache/rpc
